@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-slate-950 text-white;
	}
	table {
		@apply border-separate border-spacing-2 rounded border-slate-500 w-full bg-black table-auto;
	}
	thead {
		@apply bg-slate-700 rounded;
	}
	th,
	td {
		@apply border border-slate-600 rounded p-1;
	}
	tr {
		@apply hover:bg-green-700;
	}
}

/* width */
#table-component > ::-webkit-scrollbar {
	width: 10px;
}

/* Track */
#table-component > ::-webkit-scrollbar-track {
	background: rgb(51 65 85);
}

/* Handle */
#table-component > ::-webkit-scrollbar-thumb {
	background: rgb(100 116 139);
	border-radius: 5px;
}

/* Handle on hover */
#table-component > ::-webkit-scrollbar-thumb:hover {
	background: #555;
}
